<%=render "shared/header"%>

<div class="contents_row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @posts.each do |post| %>
    <div class="content_post" style="background-image: url(<%= post.movie %>);">
      <p><%= post.title %></p>
      <span class="name"><%= @nickname %></span>
    </div>
  <% end %>
  <p>お気に入り一覧</p>
  <div class='post-btn'>
  <span class='post-btn-text'>投稿する</span>
  <a href="/posts/new">
    <%# <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %> 
  </a>
</div>
<%= link_to 'トップページへ戻る', "/posts", class: "back_top" %>
</div>