<%=render "shared/header"%>

<div class="contents_row">
  <p class="mypage-posts"><%= @nickname %>さんのPOSTS</p>
      <ul class='post-lists'>
        <% @posts.each do |post| %> 
         <li class='list'>
           <%= link_to post_path(post.id) do %>
             <%= video_tag post.movie, controls: true, autobuffer: true, loop: true, class: "post-img" %>
           <div class='post-info'>
             <h3 class="post-title">name:
              <%= post.user.nickname%>
             </h3>
             <h3 class='post-title'>title:
              <%= post.title %>
             </h3>
             <table>
               <tbody>
                <tr id="post_<%= post.id %>">
                 <div class='star-btn'>
                    <% if current_user.liked_by?(post.id) %>
                      <td>
                         <%= link_to destroy_like_path(post), class: "like-link", method: :DELETE, remote: true do %> 
                          <i class="fa fa-heart unlike-btn"></i>
                         <%end%>
                         <%= post.likes.count %> 
                      </td>
                    <% else %>
                      <td>
                         <%= link_to create_like_path(post), class: "like-link", method: :POST, remote: true do %>
                          <i class="fa fa-heart like-btn"></i>
                         <%end%>
                         <%= post.likes.count %>
                      </td> 
                    <% end %>
                </div>
                </tr>
               </tbody>
             </table>
           </div>
           <% end %>
         </li>
        <% end %>
      </ul>
  <p class="mypage-favorites">Favorites</p>
  <div class='post-btn'>
  <a href="/posts/new">
  <span class='post-btn-text'>POST</span>
    <%# <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %> 
  </a>
  </div>
   <%= link_to 'Back to TOP', "/posts", class: "back_top" %>
</div>
<%= render "shared/footer" %>