<%=render "shared/header"%>

<div class="contents_row">
  <p class="mypage-posts"><%= @nickname %>さんのPOSTS</p>
      <ul class='post-lists'>
        <% @posts.each do |post| %> 
         <li class='list'>
           <%= link_to post_path(post.id) do %>
           <%# <div class='post-img-content'> %>
             <%= video_tag post.movie, height: "50%", width: "50%", controls: true, autobuffer: true, loop: true, class: "post-img" %>
           <%# </div> %>
           <div class='post-info'>
             <h3 class='post-title'>title:
              <%= post.title %>
             </h3>
               <div class='star-btn'>
                 <%# <%= image_tag "star.png", class:"star-icon" %> 
                 <span class='star-count'>liks: 0</span>
               </div>
           </div>
           <% end %>
         </li>
        <% end %>
      </ul>
  <p class="mypage-favorites">Favorites</p>
  <div class='post-btn'>
  <a href="/posts/new">
  <span class='post-btn-text'>POST</span>
    <%# <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %> 
  </a>
  </div>
   <%= link_to 'Back to TOP', "/posts", class: "back_top" %>
</div>
<%= render "shared/footer" %>