<%= render "shared/header" %>  
  
  <%# 投稿一覧 %>
  <div id="hom" class="index-bag">
  <div class='post-contents'>
    <main>
      <h2 class='title'>Posts List</h2>
       <ul class='post-lists'>
        <% @posts.each do |post| %> 
         <li class='list'>
           <%= link_to post_path(post.id) do %>
           <%# <div class='post-img-content'> %>
             <%= video_tag post.movie, controls: true, autobuffer: true, loop: true, class: "post-img" %>
           <%# </div> %>
           <div class='post-info'>
             <h3 class="post-title">name:
              <%= post.user.nickname%>
             </h3>
              <h3 class='post-title'>title:
              <%= post.title %>
              </h3>
              <table>
                <tbody>
                 <tr id="post_<%= post.id %>">
                  <%= render 'post', post: post %>
                 </tr>
                </tbody>
              </table>
           </div>
           <% end %>
         </li>
        <% end %>
       </ul>
    </main>
    <aside>
    <%= render "shared/side-bar" %>
    </aside>
  </div>
  <%# //投稿一覧 %>
<div class='post-btn'>
  <a href="/posts/new">
  <span class='post-btn-text'>POST</span>
  </a>
    <%# <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %> 
</div>
</div>
<%= render "shared/footer" %>