<%= render "shared/header" %>  
  
  <%# 投稿一覧 %>
  <div class='post-contents'>
    <main>
      <h2 class='title'>Posts List</h2>
       <ul class='post-lists'>
        <% @post.each do |post| %> 
         <li class='list'>
           <%= link_to post_path(post.id) do %>
           <%# <div class='post-img-content'> %>
             <%= video_tag post.movie, height: "50%", width: "50%", controls: true, autobuffer: true, loop: true, class: "post-img" %>
           <%# </div> %>
           <div class='post-info'>
             <h3 class='post-title'>title:
              <%= post.title %>
             </h3>
               <div class='star-btn'>
                 <%# <%= image_tag "star.png", class:"star-icon" %> 
                 <span class='star-count'>liks: 0</span>
               </div>
           </div>
           <% end %>
         </li>
        <% end %>
       </ul>
    </main>
    <aside>
    <%= render "shared/side-bar" %>
    </aside>
  </div>
  <%# //投稿一覧 %>
<div class='post-btn'>
  <a href="/posts/new">
  <span class='post-btn-text'>POST</span>
  </a>
    <%# <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %> 

</div>
<%# <%= render "shared/footer" %> 